<nav class="bg-white py-4 flex justify-between items-center px-10 fixed w-full z-10 shadow-md">
    <p class="text-md font-bold bg-clip-text text-black">Galeri Foto</p>
      
    <div>
      <a href="/home" class="justify-center items-center hover:text-blue-500 transition duration-500">Home</a>
    </div>
    <div class="flex gap-5">
      <a href="/logout" class="hover:text-red-500 transition duration-500">Logout</a>
    </div>
</nav> 