<link rel="stylesheet" href="css/style.css">
<h3>Login</h3>

<body class="login">
    
<form action="/login" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Masukkan username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Masukkan password" name="password">

    <input type="submit" name="submit" value="Login" class="btn" id="">
    <a href="/register"><h3 class="akun">Belum punya akun? buat akun baru</h3></a>

</form>
<a href="/home"><h4 class="guest">klik disini untuk masuk sebagai Guest</h4></a>
</body>