<link rel="stylesheet" href="css/style.css">
<h3>Register</h3>

<body class="register">


<form action="/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Masukkan username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Masukkan password" name="password">

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Masukkan email" name="email">

    <label for="namaLengkap"><b>Nama lengkap</b></label>
    <input type="text" placeholder="Masukkan nama lengkap" name="namaLengkap">

    <label for="alamat"><b>Alamat</b></label>
    <input type="text" placeholder="Masukkan alamat" name="alamat">

    <input type="submit" name="submit" value="Register" class="btn" id="">
    <a href="/login"><h3 class="akun">Sudah punya akun? ayo login</h3></a>

</form>
</body>